# Ignore build, deployment, and dependency directories
/.github/
/broadcast/
/cache/
/deployments/
/lib/
/node_modules/
/out/

# Docs
docs/

# Dotenv file
.env

# Ignore all hidden files and directories
.*

# Keep the repository ignore file itself
!.gitignore

